@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

:root {
  --bright-red: #DE354C;
  --deep-red: #932432;
  --purple: #3C1874;
  --purple-gray: #283747;
  --cloud: #F3F3F3;
  --gray-color: #757575;
  --dark-gray-color: #373737;
  --white-color: #ffffff;
  --black-color: #030303;
}

.main-container-1{
  @apply w-screen h-screen
}
.main-container-1{
  background-color: var(--cloud);
}
.main-container-2{
  @apply w-5/6 h-5/6
}
.main-container-3{
  @apply w-2/3 h-2/3
}